<h1>Stocks#index</h1>
<button><%= link_to "Add Stock", new_stock_path, method: :get %> </button>
<table>
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Currency</th>
      <th>Price</th>
      <th>Last Updated</th>
    </tr>
  </thead>
<tbody>
<% @stocks.each do |stock| %>
    <tr>
    <td><%= link_to stock.ticker, { action: :show, id: stock.id}, method: :get %></td>
    <td><%= stock.currency %></td>
    <td><%= stock.live_price %></td>
    <td><%= stock.live_price_as_of %></td>
    </tr>
<% end %>
</tbody>
</table>