<h1><a href='/accounts/'> Accounts: </a><%= @account.name %></h1>
<table>
  <thead>
    <tr>
      <th>Net Deposits</th>
      <th>Current Value</th>
      <th>Gain %</th>
      <th>First Deposit Date</th>
      <th>Total Dividends</th>
      <th>Snowball Percentage</th>
    </tr>
  </thead>
<tbody>
    <tr>
    <td>$<%= number_with_delimiter(@account.net_deposits_dollars, delimiter: ",", precision: 2) %></td>
    <td>$<%= number_with_delimiter(@current_value, delimiter: ",", precision: 2) %></td>
    <td><%= ((@current_value / @account.net_deposits_dollars - 1) * 100).round(4) %>%</td>
    <td><%= @account.first_deposit_date %></td>
    <td>$<%= number_with_delimiter(@account.total_dividends_dollars, delimiter: ",", precision: 2) %></td>
    <td><%= @account.snowball_percentage %>%</td>
    </tr>
</tbody>
</table>

<%= render "import_activity" %>

<h3>Active Positions</h3>
<table>
  <thead>
        <tr>
            <th>Ticker</th>
            <th>Shares</th>
            <th>Book Price</th>
            <th>Current Price</th>
            <th>
              <a href="<%= '/accounts/' + @account.id.to_s + '/?sort[column]=book_value&sort[direction]=asc' %>">	&uArr; </a>
                Book Value
              <a href="<%= '/accounts/' + @account.id.to_s + '/?sort[column]=book_value&sort[direction]=desc' %>"> &dArr; </a>
            </th>
            <th>
              <a href="<%= '/accounts/' + @account.id.to_s + '/?sort[column]=current_value&sort[direction]=asc' %>">	&uArr; </a>
                Current Value
              <a href="<%= '/accounts/' + @account.id.to_s + '/?sort[column]=current_value&sort[direction]=desc' %>"> &dArr; </a>
            </th>
            <th>Sold Shares</th>
            <th>Sold Price</th>
            <th>
              <a href="<%= '/accounts/' + @account.id.to_s + '/?sort[column]=total_dividends&sort[direction]=asc' %>">	&uArr; </a>
                Total Dividends
              <a href="<%= '/accounts/' + @account.id.to_s + '/?sort[column]=total_dividends&sort[direction]=desc' %>"> &dArr; </a>
            </th>
            <th>
              <a href="<%= '/accounts/' + @account.id.to_s + '/?sort[column]=live_p_n_l&sort[direction]=asc' %>">	&uArr; </a>
                Current PnL
              <a href="<%= '/accounts/' + @account.id.to_s + '/?sort[column]=live_p_n_l&sort[direction]=desc' %>"> &dArr; </a>
            </th>
        </tr>
  </thead>
<tbody>
<% @current_positions.each do |data| %>
    <tr>
    <td><%= data[:ticker] %></td>
    <td><%= data[:shares] %></td>
    <td>$<%= number_with_delimiter(data[:price], delimiter: ",", precision: 2) %></td>
    <td>$<%= number_with_delimiter(data[:current_price], delimiter: ",", precision: 2) %></td>
    <td>$<%= number_with_delimiter(data[:book_value], delimiter: ",", precision: 2) %></td>
    <td>$<%= number_with_delimiter(data[:current_value], delimiter: ",", precision: 2) %></td>
    <td><%= data[:sold_shares] %></td>
    <td>$<%= number_with_delimiter(data[:sold_price], delimiter: ",", precision: 2) %></td>
    <td>$<%= number_with_delimiter(data[:total_dividends], delimiter: ",", precision: 2) %></td>
    <td>$<%= number_with_delimiter(data[:live_p_n_l], delimiter: ",", precision: 2) %></td>
    </tr>
<% end %>
</tbody>
</table>

<h3>Buys and Sells</h3>
<table>
  <thead>
        <tr>
            <th>Type</th>
            <th>Ticker</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
  </thead>
  <tbody>
  <% @trades.each do |data| %>
  <tr>
    <td><%= data.type %></td>
    <td><%= data.stock.ticker %></td>
    <td><%= data.shares %></td>
    <td><%= number_with_delimiter(data.price, delimiter: ",", precision: 2) %></td>
    <td><%= data.datetime.to_date %></td>
  </tr>
  <% end %>
  </tbody>
<table>

<h3>Closed Positions</h3>
<table>
  <thead>
        <tr>
            <th>Ticker</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Book Value</th>
            <th>Sold Shares</th>
            <th>Sold Price</th>
            <th>Total Dividends</th>
            <th>Closed Position PnL</th>
        </tr>
  </thead>
<tbody>
<% @closed_positions.each do |data| %>
    <tr>
    <td><%= data[:ticker] %></td>
    <td><%= data[:shares] %></td>
    <td><%= data[:price] %></td>
    <td><%= data[:book_value] %></td>
    <td><%= data[:sold_shares] %></td>
    <td><%= data[:sold_price] %></td>
    <td><%= data[:total_dividends] %></td>
    <td><%= data[:closed_position_p_n_l] %></td>
    </tr>
<% end %>
</tbody>
</table>

<h3>Dividend History</h3>
<table>
  <thead>
        <tr>
            <th>Ticker</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
  </thead>
<tbody>
<% @last_dividends.each do |data| %>
    <tr>
    <td><%= data.stock[:ticker] %></td>
    <td><%= data[:amount] %></td>
    <td><%= data[:datetime] %></td>
    </tr>
<% end %>
</tbody>
</table>