<h1>Accounts</h1>
<table>
  <thead>
    <tr>
      <th>Net Deposits</th>
      <th>Total Dividends</th>
      <th>Snowball Percentage</th>
    </tr>
  </thead>
<tbody>
    <tr>
    <td><%= @net_deposits %></td>
    <td><%= @total_dividends %></td>
    <td><%= @snowball_percentage %></td>
    </tr>
</tbody>
</table>

<%= render "import_activity" %>

<h3>Active Positions</h3>
<table>
  <thead>
        <tr>
            <th>Ticker</th>
            <th>Shares</th>
            <th>Book Price</th>
            <th>Current Price</th>
            <th>Book Value</th>
            <th>Current Value</th>
            <th>Sold Shares</th>
            <th>Sold Price</th>
            <th>Total Dividends</th>
        </tr>
  </thead>
<tbody>
<% @positions.each do |data| %>
<% next if data[:shares] == 0%>
    <tr>
    <td><%= data[:ticker] %></td>
    <td><%= data[:shares] %></td>
    <td><%= data[:price] %></td>
    <td><%= data[:current_price] %></td>
    <td><%= data[:book_value] %></td>
    <td><%= data[:current_value] %></td>
    <td><%= data[:sold_shares] %></td>
    <td><%= data[:sold_price] %></td>
    <td><%= data[:total_dividends] %></td>
    </tr>
<% end %>
</tbody>
</table>

<h3>Closed Positions</h3>
<table>
  <thead>
        <tr>
            <th>Ticker</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Book Value</th>
            <th>Sold Shares</th>
            <th>Sold Price</th>
            <th>Total Dividends</th>
            <th>Closed Position PnL</th>
        </tr>
  </thead>
<tbody>
<% @positions.each do |data| %>
<% next unless data[:shares] == 0%>
    <tr>
    <td><%= data[:ticker] %></td>
    <td><%= data[:shares] %></td>
    <td><%= data[:price] %></td>
    <td><%= data[:book_value] %></td>
    <td><%= data[:sold_shares] %></td>
    <td><%= data[:sold_price] %></td>
    <td><%= data[:total_dividends] %></td>
    <td><%= data[:closed_position_p_n_l] %></td>
    </tr>
<% end %>
</tbody>
</table>

<h3>Dividend History</h3>
<table>
  <thead>
        <tr>
            <th>Ticker</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
  </thead>
<tbody>
<% @last_dividends.each do |data| %>
    <tr>
    <td><%= data.stock[:ticker] %></td>
    <td><%= data[:amount] %></td>
    <td><%= data[:datetime] %></td>
    </tr>
<% end %>
</tbody>
</table>